.App {
  text-align: center;
}

.progress-bars{
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-evenly;
}

.progress-bar{
  margin: 10px;
}
.answer-slider{
  margin: auto;
  align-items: center;
  width: 100%;
}
.slider{
  width: 60%;
  margin: 80px auto 0;
}